# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ERGO_S-1_LEFT
    def_bool $(shields_list_contains,ergo_s-1_left)

config SHIELD_ergo_s-1_RIGHT
    def_bool $(shields_list_contains,ergo_s-1_right)